.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  @media (max-width: $screen-sm) {
    font-size: 2.5rem;
  }
  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 20px;
    border: 1px solid;
    vertical-align: 8px;
    transform: rotate(45deg);
    @media (max-width: $screen-sm) {
      width: 8px;
      height: 8px;
      margin: 0 12px;
      vertical-align: 5px;
    }
  }
}
