section#about.about
  h2.heading ABOUT ME
  p.about-text
    | はじめまして。日本でWebデザイナーをしています。
    br
    | デザインの専門学校を卒業し、制作会社での業務経験を経て、現在はフリーランスとして働いています。
  p.about-text
    | このサイトは「HTML/CSS モダンコーディング」という書籍のサンプルとして作られた、架空のWebデザイナーのポートフォリオサイトです。
    br
    | このサンプルのようなサイトをいちから作る過程を通して、HTMLとCSSの実践的なコーディングノウハウを学ぶことができます。
