section#contact.contact
  h2.heading CONTACT
  form.contact-form
    input(type="text" name="name" placeholder="NAME")
    textarea(name="message" placeholder="MESSAGE")
    input(type="submit" value="SEND")

