header.header
  p.site-title-sub Web designer's portfolio
  h1.site-title HI, MY NAME IS...
  p.site-description Check out some of my works.
  .buttons
    a.button(href="#about") LEARN MORE
    a.button.button-showy(href="#contact") SEND MESSAGE

