doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title シングルページレイアウト
    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
